@import './vars.styl'

*
    box-sizing border-box
    margin 0
    padding 0

body
input
button
select
textarea
    font-family $font-family
    font-size $font-size
    line-height 1.15

button
    padding 4px 10px
