client/dist/*.js
client/dist/*.json
client/dist/*.css
client/dist/*.map
client/coverage
client/node_modules
server/.cache
server/__pycache__
server/coverage
static/
pgdata/

.coverage
*~
*.db
*.log
*.key
*.crt
*.pem
*.pyc
local.py
